/*
AUTH: Jared O'Toole
DATE: Saturday, February 23rd, 2019
PROJ: Student Portfolio Webpage
FILE: index.css
*/

body {
    background-color: black;
    min-height: 2048px;
}

main {
    border: 4px groove white;
    border-radius: 12px;
    background-color: white;
    padding: 8px;
    margin: auto auto;
    max-width: 832px;
}

img, audio {
    display: inline-block;
    border: 2px dotted darkgray;
    border-radius: 8px;
    padding: 4px;
}

section {
    padding: 0px 24px;
}

h2 {
    padding: 0px 8px;
    margin: 12px auto;
}

h4 {
    margin: 0;
}

li {
    margin: 8px auto;
}

li sup {
    color: hsl(0, 0%, 35%);
}

#banner {
    min-width: 768px;
}

#banner h1 span {
    font-size: 80%;
    color: hsl(0, 0%, 25%);
    margin: auto 8px;
}

#banner div {
    display: inline-block;
    margin: auto 12px;
    vertical-align: top;
}

.button {
    display: inline-block;
    cursor: pointer;
    color: hsl(0, 0%, 35%);
}

.button.selected {
    color: black;
}

.button:hover {
    color: teal;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

section p:first-child {
    margin-top: 0px;
}

section#about-me {
    max-width: 768px;
    column-width: 14em;
    vertical-align: top;
}

section#work-samples ul {
    list-style-type: none;
    padding-left: 0;
    border: 2px inset darkgray;
    padding: 8px;
    margin: 4px auto;
}

section#work-samples ul li div.wider {
    column-width: 16em;
}
