body {
    
}

#banner h1 span {
    font-size: 80%;
    color: hsl(0, 0%, 25%);
    margin: auto 8px;
}

#banner img {
    display: inline-block;
    width: 128px;
    height: auto;
    border: 2px dotted darkgray;
    border-radius: 8px;
    padding: 4px;
}

#banner div.info {
    display: inline-block;
    margin: auto 12px;
    vertical-align: top;
}

.column-group {
    
}

.column {
    display: inline-block;
    width: 250px;
    vertical-align: top;
}